body {
     margin: 0;
     background-color: white;
}

canvas {
 display: block;  /* prevents scrollbar */
 width: 100vw;
 height: 100vh;
}

.container {
    position: relative;
}
#coord_display {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: rgba(180, 180, 256, 0.2);
    color: white;
    font-family: monospace;
    padding: 1em;
}
#ship_builder_button {
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url("../img/ship_builder_button.png");
    background-color: rgba(256, 256, 256, 1);
    color: white;
    font-family: monospace;
    padding: 1em;
    height: 20px;
    width: 20px;
    opacity: 0.8;
    border: thin solid #000000;
}
#ship_builder_button:hover {
    opacity: 1;
}
#ship_statistics_button {
    position: absolute;
    left: 10px;
    top: 60px;
    background-image: url("../img/ship_statistics_button.png");
    background-color: rgba(256, 256, 256, 1);
    color: white;
    font-family: monospace;
    padding: 1em;
    height: 20px;
    width: 20px;
    opacity: 0.8;
    border: thin solid #000000;
}
#ship_statistics_button:hover {
    opacity: 1;
}
