body {
     margin: 0;
     background-color: white;
}

canvas {
 display: block;  /* prevents scrollbar */
 width: 100vw;
 height: 100vh;
}

.container {
    position: relative;
}

#coord_display {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: rgba(180, 180, 256, 0.2);
    color: white;
    font-family: monospace;
    padding: 1em;
}

#ship_builder_button {
    top: 10px;
    background-image: url("../img/ship_builder_button.png");
}

#ship_statistics_button {
    top: 60px;
    background-image: url("../img/ship_statistics_button.png");
}

#map_button {
    top: 110px;
    background-image: url("../img/map_button.png");
}

#skills_button {
    top: 160px;
    background-image: url("../img/skills_button.png");
}

.left_menu_button {
    position: absolute;
    left: 10px;
    background-color: rgba(256, 256, 256, 1);
    color: white;
    font-family: monospace;
    padding: 1em;
    height: 20px;
    width: 20px;
    opacity: 0.6;
    border: thin solid #000000;
}

/* Tooltip text */
.left_menu_button .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 120%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.left_menu_button:hover .tooltip {
    visibility: visible;
  
}

.left_menu_button:hover {
    opacity: 1;
}
